TYPEORM_CONNECTION = postgres
TYPEORM_USERNAME = postgres
TYPEORM_PASSWORD = password
TYPEORM_HOST = localhost
TYPEORM_PORT = 5432
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = false
TYPEORM_DATABASE = cakeboss_development
TYPEORM_ENTITIES = src/entity/**/*.ts
TYPEORM_MIGRATIONS = src/migration/**/*.ts
TYPEORM_SUBSCRIBERS = src/subscriber/**/*.ts
TYPEORM_ENTITIES_DIR = src/entity
TYPEORM_MIGRATIONS_DIR = src/migration
TYPEORM_SUBSCRIBERS_DIR = src/subscriber

DISCORD_TOKEN = NjA5MjI4MTAxNTY5NzQwODAx.XU8yqQ.VdNKQpuFImp-rYgTif-o9MdLTZY
SENTRY_DSN = https://8d2abe0da8e943c0b5a72d84a80e2046@sentry.io/1527319
